@model Category

<h2 class="text-center">New Category</h2>
<hr/>

<div class="container w-75 mx-auto">

    <form class="shadow p-3 rounded text-center"  asp-controller="Cat" asp-action="CreateCategory" method="POST">
        <div class="mb-3">
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
            <input class="form-control text-center" asp-for="Name">
        </div>
        <button type="submit">Create</button>
    </form>

</div>