@{
    ViewData["Title"] = "Category";
}
@model List<Category>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/">Products</a> | <a href="category">Categories</a>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        @await Html.PartialAsync("_AddCat", new Category())
    </div>
    <div class="col-md-6">
        <h1 class="display-4 text-center">All Categories</h1>
        @foreach (Category category in Model)
        {
            <div class="row-md text-center">
                <div class="col">
                    <br>
                    <a class="text-center" asp-controller="Cat" asp-action="ViewCategory"
                        asp-route-categoryId="@category.CatId">@category.Name</a>
                    <br>
                </div>
            </div>
        }
    </div>
</div>